asttokens
attrs==23.1.0
backcall
backports.functools-lru-cache
boltons
brotlipy==0.7.0
certifi==2023.5.7
cffi
charset-normalizer
contourpy==1.1.0
cryptography
cycler==0.11.0
debugpy
decorator
executing
fastjsonschema==2.17.1
fonttools==4.41.0
idna
importlib-metadata
ipykernel
ipython
jedi
jsonpatch
jsonpointer==2.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter_client
jupyter_core
kiwisolver==1.4.4
matplotlib==3.7.2
matplotlib-inline
nbformat==5.9.1
nest-asyncio
numpy==1.25.1
packaging
parso
pexpect
pickleshare
Pillow==10.0.0
platformdirs
plotly==5.15.0
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
pycosat
pycparser
Pygments
pyOpenSSL
pyparsing==3.0.9
PySocks
python-dateutil
pyzmq
referencing==0.30.0
requests
rpds-py==0.9.2
ruamel.yaml
six
stack-data
tenacity==8.2.2
toolz
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
zipp
zstandard
